
// Colors
$background-color: linear-gradient(150deg, #F8DAFF 20.33%, #D9F1FF 99.48%);
$white-card: linear-gradient(119.58deg, rgba(255, 255, 255, 0.5) 48.73%, rgba(153, 153, 153, 0.5) 113.07%);
$match-card-bg: linear-gradient(125.56deg, rgba(255, 255, 255, 0.5) 50.77%, rgba(214, 211, 211, 0.5) 97.05%);
$light-white-card: linear-gradient(122.93deg, rgba(255, 255, 255, 0.5) 23.31%, rgba(214, 211, 211, 0.5) 178.3%);
$player-card-bg: linear-gradient(180.7deg, rgba(96, 114, 142, 0) 40.74%, rgba(20, 42, 75, 0.6) 62.4%, #142A4B 95.28%);
$text-color: #142A4B;
$white: white;
$pink: #FD05A1;
$wicket: #ff5353;