<div class="player-list">
  <div class="player-list-header">
    {{pageTitle}}
  </div>
  <div class="player-list-search-container">
    <input placeholder="Search player"/>
    <div class="player-list-search-container-button" [routerLink]="'/home/match-list'">
      <img src="../../../../assets/icon/search-icon.svg" />
    </div>
  </div>
  <div class="player-list-container">
    <div class="player-card" (click)="viewPlayerDetails()">
      <div class="player-image">
        <img src="../../../../assets/icon/virat-image.png"/>
      </div>
      <div class="player-statistics">
        <div class="player-name">
          <div class="first-name">CHHATRAPATI</div>
          <div class="last-name">DAREKAR <span>18</span></div>
        </div>
        <div class="card-white-image">
          <img src="../../../../assets/icon/white-line-frame.svg"/>
        </div>
        <div class="player-numeric-info">
          <div class="column1">
            <div class="title">Match</div>
            <div class="data">100</div>
          </div>
          <div class="column2">
            <div class="title">Runs</div>
            <div class="data">235</div>
          </div>
          <div class="column3">
            <div class="title">S.R</div>
            <div class="data">10.5</div>
          </div>
        </div>
      </div>
    </div>
    <div class="player-card" (click)="viewPlayerDetails()">
      <div class="player-image">
        <img src="../../../../assets/icon/virat-image.png"/>
      </div>
      <div class="player-statistics">
        <div class="player-name">
          <div class="first-name">CHHATRAPATI</div>
          <div class="last-name">DAREKAR <span>18</span></div>
        </div>
        <div class="card-white-image">
          <img src="../../../../assets/icon/white-line-frame.svg"/>
        </div>
        <div class="player-numeric-info">
          <div class="column1">
            <div class="title">Match</div>
            <div class="data">100</div>
          </div>
          <div class="column2">
            <div class="title">Runs</div>
            <div class="data">235</div>
          </div>
          <div class="column3">
            <div class="title">S.R</div>
            <div class="data">10.5</div>
          </div>
        </div>
      </div>
    </div>
    <div class="player-card" (click)="viewPlayerDetails()">
      <div class="player-image">
        <img src="../../../../assets/icon/virat-image.png"/>
      </div>
      <div class="player-statistics">
        <div class="player-name">
          <div class="first-name">CHHATRAPATI</div>
          <div class="last-name">DAREKAR <span>18</span></div>
        </div>
        <div class="card-white-image">
          <img src="../../../../assets/icon/white-line-frame.svg"/>
        </div>
        <div class="player-numeric-info">
          <div class="column1">
            <div class="title">Match</div>
            <div class="data">100</div>
          </div>
          <div class="column2">
            <div class="title">Runs</div>
            <div class="data">235</div>
          </div>
          <div class="column3">
            <div class="title">S.R</div>
            <div class="data">10.5</div>
          </div>
        </div>
      </div>
    </div>
    <div class="player-card" (click)="viewPlayerDetails()">
      <div class="player-image">
        <img src="../../../../assets/icon/virat-image.png"/>
      </div>
      <div class="player-statistics">
        <div class="player-name">
          <div class="first-name">CHHATRAPATI</div>
          <div class="last-name">DAREKAR <span>18</span></div>
        </div>
        <div class="card-white-image">
          <img src="../../../../assets/icon/white-line-frame.svg"/>
        </div>
        <div class="player-numeric-info">
          <div class="column1">
            <div class="title">Match</div>
            <div class="data">100</div>
          </div>
          <div class="column2">
            <div class="title">Runs</div>
            <div class="data">235</div>
          </div>
          <div class="column3">
            <div class="title">S.R</div>
            <div class="data">10.5</div>
          </div>
        </div>
      </div>
    </div>
    <div class="player-card" (click)="viewPlayerDetails()">
      <div class="player-image">
        <img src="../../../../assets/icon/virat-image.png"/>
      </div>
      <div class="player-statistics">
        <div class="player-name">
          <div class="first-name">CHHATRAPATI</div>
          <div class="last-name">DAREKAR <span>18</span></div>
        </div>
        <div class="card-white-image">
          <img src="../../../../assets/icon/white-line-frame.svg"/>
        </div>
        <div class="player-numeric-info">
          <div class="column1">
            <div class="title">Match</div>
            <div class="data">100</div>
          </div>
          <div class="column2">
            <div class="title">Runs</div>
            <div class="data">235</div>
          </div>
          <div class="column3">
            <div class="title">S.R</div>
            <div class="data">10.5</div>
          </div>
        </div>
      </div>
    </div>
    <div class="player-card" (click)="viewPlayerDetails()">
      <div class="player-image">
        <img src="../../../../assets/icon/virat-image.png"/>
      </div>
      <div class="player-statistics">
        <div class="player-name">
          <div class="first-name">CHHATRAPATI</div>
          <div class="last-name">DAREKAR <span>18</span></div>
        </div>
        <div class="card-white-image">
          <img src="../../../../assets/icon/white-line-frame.svg"/>
        </div>
        <div class="player-numeric-info">
          <div class="column1">
            <div class="title">Match</div>
            <div class="data">100</div>
          </div>
          <div class="column2">
            <div class="title">Runs</div>
            <div class="data">235</div>
          </div>
          <div class="column3">
            <div class="title">S.R</div>
            <div class="data">10.5</div>
          </div>
        </div>
      </div>
    </div>
    <div class="player-card" (click)="viewPlayerDetails()">
      <div class="player-image">
        <img src="../../../../assets/icon/virat-image.png"/>
      </div>
      <div class="player-statistics">
        <div class="player-name">
          <div class="first-name">CHHATRAPATI</div>
          <div class="last-name">DAREKAR <span>18</span></div>
        </div>
        <div class="card-white-image">
          <img src="../../../../assets/icon/white-line-frame.svg"/>
        </div>
        <div class="player-numeric-info">
          <div class="column1">
            <div class="title">Match</div>
            <div class="data">100</div>
          </div>
          <div class="column2">
            <div class="title">Runs</div>
            <div class="data">235</div>
          </div>
          <div class="column3">
            <div class="title">S.R</div>
            <div class="data">10.5</div>
          </div>
        </div>
      </div>
    </div>
    <div class="player-card" (click)="viewPlayerDetails()">
      <div class="player-image">
        <img src="../../../../assets/icon/virat-image.png"/>
      </div>
      <div class="player-statistics">
        <div class="player-name">
          <div class="first-name">CHHATRAPATI</div>
          <div class="last-name">DAREKAR <span>18</span></div>
        </div>
        <div class="card-white-image">
          <img src="../../../../assets/icon/white-line-frame.svg"/>
        </div>
        <div class="player-numeric-info">
          <div class="column1">
            <div class="title">Match</div>
            <div class="data">100</div>
          </div>
          <div class="column2">
            <div class="title">Runs</div>
            <div class="data">235</div>
          </div>
          <div class="column3">
            <div class="title">S.R</div>
            <div class="data">10.5</div>
          </div>
        </div>
      </div>
    </div>
    <div class="player-card" (click)="viewPlayerDetails()">
      <div class="player-image">
        <img src="../../../../assets/icon/virat-image.png"/>
      </div>
      <div class="player-statistics">
        <div class="player-name">
          <div class="first-name">CHHATRAPATI</div>
          <div class="last-name">DAREKAR <span>18</span></div>
        </div>
        <div class="card-white-image">
          <img src="../../../../assets/icon/white-line-frame.svg"/>
        </div>
        <div class="player-numeric-info">
          <div class="column1">
            <div class="title">Match</div>
            <div class="data">100</div>
          </div>
          <div class="column2">
            <div class="title">Runs</div>
            <div class="data">235</div>
          </div>
          <div class="column3">
            <div class="title">S.R</div>
            <div class="data">10.5</div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>