<div class="player-list">
  <div class="player-list-header">
    {{pageTitle}}
  </div>
  <app-dropdown [dropdownList]="dropDownList"></app-dropdown>
  <div class="player-list-search-container">
    <input placeholder="Search player" [(ngModel)]="searchText" />
    <div class="player-list-search-container-button">
      <img class="cross-button" *ngIf="this.searchText" src="../../../../assets/icon/cross_button.svg" (click)="emptySearchedText()"/>
      <img class="search-button" src="../../../../assets/icon/search-icon.svg" (click)="onPlayerSearched()"/>
    </div>
  </div>
  <ng-container *ngIf="playerList?.length; else emptyState">
    <div class="player-list-container">
      <ng-container *ngFor="let player of playerList">
        <div class="player-card" [routerLink]="'/home/player-profile'" [queryParams]="{id: player.id}">
          <div class="player-image">
            <img [src]="player?.profileImage ? player?.profileImage :  '../../../../assets/icon/virat-image.png'"/>
          </div>
          <div class="player-statistics">
            <div class="player-name">
              <div class="first-name">{{player.firstName}}</div>
              <div class="last-name">{{player.lastName}} <span>{{player.jerseyNo}}</span></div>
            </div>
            <div class="card-white-image">
              <img src="../../../../assets/icon/white-line-frame.svg"/>
            </div>
            <ng-container *ngIf="player.playerType === 'Batsman' || player.playerType === 'All-Rounder' else bowlerData">
              <div class="player-numeric-info">
                <div class="column1">
                  <div class="title">Match</div>
                  <div class="data">{{player?.match}}</div>
                </div>
                <div class="column2">
                  <div class="title">Runs</div>
                  <div class="data">{{player?.battingDetails?.run}}</div>
                </div>
                <div class="column3">
                  <div class="title">S.R</div>
                  <div class="data">{{player?.battingDetails?.strikeRate}}</div>
                </div>
              </div>
            </ng-container>
            <ng-template #bowlerData>
              <div class="player-numeric-info">
                <div class="column1">
                  <div class="title">Match</div>
                  <div class="data">{{player?.match}}</div>
                </div>
                <div class="column2">
                  <div class="title">Wkts</div>
                  <div class="data">{{player?.bowlingDetails?.wicket}}</div>
                </div>
                <div class="column3">
                  <div class="title">Eco</div>
                  <div class="data">{{player?.bowlingDetails?.economy}}</div>
                </div>
              </div>
            </ng-template>
          </div>
        </div> 
      </ng-container>
    </div>
  </ng-container>
  <ng-template #emptyState>
    <div class="player-list-empty-container">
      <img src="../../../../assets/cricket-illustration.gif"/>
      <div class="player-list-empty-container-text">Player not found !!!</div>
    </div>
  </ng-template>
</div>