<div class="match-summary">
  <div class="match-summary-header">
    <app-back-button url="/home/match-list"></app-back-button>
    <div class="match-summary-header-container">
      <div class="match-summary-header-container-title">Match 1</div>
      <div class="match-summary-header-container-sub-title">29th September 2024</div>
    </div>
  </div>
  <div class="match-summary-info">
    <div class="match-summary-title-card">
      <div class="card-row1">
        <div class="card-column1">
          <div class="card-column1-row1"><img src="../../../../assets/icon/indian-flag.svg" /></div>
          <div class="card-column1-row2">TEAM A</div>
          <div class="card-column1-row3">30-4</div>
          <div class="card-column1-row4">(4)</div>
        </div>
        <div class="card-column2">V<span>/</span>S</div>
        <div class="card-column3">
          <div class="card-column3-row1"><img src="../../../../assets/icon/indian-flag.svg" /></div>
          <div class="card-column3-row2">TEAM A</div>
          <div class="card-column3-row3">30-4</div>
          <div class="card-column3-row4">(4)</div>
        </div>
      </div>
      <div class="card-row2">TEAM B won by 5 wickets</div>
    </div>
    <div class="inning-title-container">
      <div [ngClass]="showCard === 1 ? 'active-tab' : ''" (click)="transformElement(1)">TEAM A</div>
      <div [ngClass]="showCard === 2 ? 'active-tab' : ''" (click)="transformElement(2)">TEAM B</div>
      <!-- <div [ngClass]="showCard === 3 ? 'active-tab' : ''" (click)="transformElement(3)">TEAM A</div>
      <div [ngClass]="showCard === 4 ? 'active-tab' : ''" (click)="transformElement(4)">TEAM B</div> -->
    </div>
    <div class="match-summary-detailed">
      <!-- Inning 1 -->
      <div class="match-summary-first-inning" *ngIf="showCard === 1">
        <div class="match-summary-batting-table">
          <table>
            <thead>
              <tr style="border-bottom: 1px solid white">
                <th style="text-align: left; padding-left: 3%; width: 40%; padding-top: 5%; padding-bottom: 2%; box-sizing: border-box;">Batting</th>
                <th style="width: 12%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box">R</th>
                <th style="width: 12%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box">B</th>
                <th style="width: 12%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box">6s</th>
                <th style="width: 12%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box">4s</th>
                <th style="width: 12%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box">S.R</th>
              </tr>
            </thead>
            <tbody>
              <tr class="batsman-details">
                <td style="text-align: left; padding-left: 3%; width: 40%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">C . Darekar (C)</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">20</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">6</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">2</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">2</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">100</td>
              </tr>
              <tr class="wicket-details">
                <td style="border-bottom: 1px solid white; text-align: left; padding-left: 3%; padding-bottom: 2%; box-sizing: border-box;" colspan="6">[c - Satya Pisal, B - Vishal]</td>
              </tr>
            </tbody>
            <tbody>
              <tr class="batsman-details">
                <td style="text-align: left; padding-left: 3%; width: 40%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">S . More</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">20</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">6</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">2</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">2</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">100</td>
              </tr>
              <tr class="wicket-details">
                <td style="border-bottom: 1px solid white; text-align: left; padding-left: 3%; padding-bottom: 2%; box-sizing: border-box;" colspan="6">[Not out]</td>
              </tr>
            </tbody>
            <tbody>
              <tr class="batsman-details">
                <td style="text-align: left; padding-left: 3%; width: 40%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">P . Vibhute</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">20</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">6</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">2</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">2</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">100</td>
              </tr>
              <tr class="wicket-details">
                <td style="border-bottom: 1px solid white; text-align: left; padding-left: 3%; padding-bottom: 2%; box-sizing: border-box;" colspan="6">[Not out]</td>
              </tr>
            </tbody>
            <tbody>
              <tr class="extras" style="border-bottom: 1px solid white;">
                <td style="text-align: left; padding-left: 3%; width: 40%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box; font-size: 12px">Extras</td>
                <td style="text-align: left; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box; font-size: 12px" colspan="5">18 (w - 2 , NB - 1)</td>
              </tr>
              <tr class="total-runs" style="border-bottom: 1px solid white;">
                <td style="text-align: left; padding-left: 3%; width: 40%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box; font-size: 12px">Total Runs</td>
                <td style="text-align: left; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box; font-size: 12px" colspan="5">46 (3 wkts, 2 ov)</td>
              </tr>
              <tr>
                <td style="text-align: left; padding-top: 3%; padding-left: 3%; padding-bottom: 5%; box-sizing: border-box; font-size: 12px" colspan="6">
                  <div>
                    Yet to bat <br />
                    <span style="font-size: 10px; margin-top: 5px">Suhas, Akshay</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="match-summary-bowling-table">
          <table>
            <thead>
              <tr style="border-bottom: 1px solid white">
                <th style="text-align: left; padding-left: 3%; width: 50%; padding-top: 5%; padding-bottom: 2%; box-sizing: border-box;">Bowling</th>
                <th style="width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box">Ov</th>
                <th style="width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box">Bow</th>
                <th style="width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box">Wkts</th>
                <th style="width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box">Econ</th>
              </tr>
            </thead>
            <tbody>
              <tr class="batsman-details" style="border-bottom: 1px solid white">
                <td style="text-align: left; padding-left: 3%; width: 50%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">Vishal</td>
                <td style="text-align: center; width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">20</td>
                <td style="text-align: center; width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">6</td>
                <td style="text-align: center; width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">2</td>
                <td style="text-align: center; width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">2</td>
              </tr>
              <tr class="batsman-details" style="border-bottom: 1px solid white">
                <td style="text-align: left; padding-left: 3%; width: 50%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">G . Patekar</td>
                <td style="text-align: center; width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">20</td>
                <td style="text-align: center; width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">6</td>
                <td style="text-align: center; width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">2</td>
                <td style="text-align: center; width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">2</td>
              </tr>
              <tr class="batsman-details">
                <td style="text-align: left; padding-left: 3%; width: 50%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">P . Choudhary</td>
                <td style="text-align: center; width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">20</td>
                <td style="text-align: center; width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">6</td>
                <td style="text-align: center; width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">2</td>
                <td style="text-align: center; width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">2</td>
              </tr>
              <tr>
                <td style="padding-bottom: 3%;"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Inning 2 -->
      <div class="match-summary-second-inning" *ngIf="showCard === 2">
        <div class="match-summary-batting-table">
          <table>
            <thead>
              <tr style="border-bottom: 1px solid white">
                <th style="text-align: left; padding-left: 3%; width: 40%; padding-top: 5%; padding-bottom: 2%; box-sizing: border-box;">Batting</th>
                <th style="width: 12%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box">R</th>
                <th style="width: 12%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box">B</th>
                <th style="width: 12%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box">6s</th>
                <th style="width: 12%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box">4s</th>
                <th style="width: 12%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box">S.R</th>
              </tr>
            </thead>
            <tbody>
              <tr class="batsman-details">
                <td style="text-align: left; padding-left: 3%; width: 40%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">S . Pisal (C)</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">20</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">6</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">2</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">2</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">100</td>
              </tr>
              <tr class="wicket-details">
                <td style="border-bottom: 1px solid white; text-align: left; padding-left: 3%; padding-bottom: 2%; box-sizing: border-box;" colspan="6">[c - Satya Pisal, B - Vishal]</td>
              </tr>
            </tbody>
            <tbody>
              <tr class="batsman-details">
                <td style="text-align: left; padding-left: 3%; width: 40%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">G . Patekar</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">20</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">6</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">2</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">2</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">100</td>
              </tr>
              <tr class="wicket-details">
                <td style="border-bottom: 1px solid white; text-align: left; padding-left: 3%; padding-bottom: 2%; box-sizing: border-box;" colspan="6">[Not out]</td>
              </tr>
            </tbody>
            <tbody>
              <tr class="batsman-details">
                <td style="text-align: left; padding-left: 3%; width: 40%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">P . Choudhary</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">20</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">6</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">2</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">2</td>
                <td style="text-align: center; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box;">100</td>
              </tr>
              <tr class="wicket-details">
                <td style="border-bottom: 1px solid white; text-align: left; padding-left: 3%; padding-bottom: 2%; box-sizing: border-box;" colspan="6">[Not out]</td>
              </tr>
            </tbody>
            <tbody>
              <tr class="extras" style="border-bottom: 1px solid white;">
                <td style="text-align: left; padding-left: 3%; width: 40%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box; font-size: 12px">Extras</td>
                <td style="text-align: left; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box; font-size: 12px" colspan="5">18 (w - 2 , NB - 1)</td>
              </tr>
              <tr class="total-runs" style="border-bottom: 1px solid white;">
                <td style="text-align: left; padding-left: 3%; width: 40%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box; font-size: 12px">Total Runs</td>
                <td style="text-align: left; width: 12%; padding-top: 3%; padding-bottom: 1%; box-sizing: border-box; font-size: 12px" colspan="5">46 (3 wkts, 2 ov)</td>
              </tr>
              <tr>
                <td style="text-align: left; padding-top: 3%; padding-left: 3%; padding-bottom: 5%; box-sizing: border-box; font-size: 12px" colspan="6">
                  <div>
                    Yet to bat <br />
                    <span style="font-size: 10px; margin-top: 5px">Suhas, Akshay</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="match-summary-bowling-table">
          <table>
            <thead>
              <tr style="border-bottom: 1px solid white">
                <th style="text-align: left; padding-left: 3%; width: 50%; padding-top: 5%; padding-bottom: 2%; box-sizing: border-box;">Bowling</th>
                <th style="width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box">Ov</th>
                <th style="width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box">Bow</th>
                <th style="width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box">Wkts</th>
                <th style="width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box">Econ</th>
              </tr>
            </thead>
            <tbody>
              <tr class="batsman-details" style="border-bottom: 1px solid white">
                <td style="text-align: left; padding-left: 3%; width: 50%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">P . Vibhute</td>
                <td style="text-align: center; width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">20</td>
                <td style="text-align: center; width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">6</td>
                <td style="text-align: center; width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">2</td>
                <td style="text-align: center; width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">2</td>
              </tr>
              <tr class="batsman-details" style="border-bottom: 1px solid white">
                <td style="text-align: left; padding-left: 3%; width: 50%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">Akshay</td>
                <td style="text-align: center; width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">20</td>
                <td style="text-align: center; width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">6</td>
                <td style="text-align: center; width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">2</td>
                <td style="text-align: center; width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">2</td>
              </tr>
              <tr class="batsman-details">
                <td style="text-align: left; padding-left: 3%; width: 50%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">P . Choudhary</td>
                <td style="text-align: center; width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">20</td>
                <td style="text-align: center; width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">6</td>
                <td style="text-align: center; width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">2</td>
                <td style="text-align: center; width: 12.5%; padding-top: 3%; padding-bottom: 2%; box-sizing: border-box;">2</td>
              </tr>
              <tr>
                <td style="padding-bottom: 3%;"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>