<div class="dropdown">
  <button (click)="dropDownOpened()">
    <ng-container *ngIf="!isDropdownOpen; else dropdownClosed">
      <img src="../../../assets/icon/more-vertical.svg"/>
    </ng-container>
    <ng-template #dropdownClosed>
      <img src="../../../assets/icon/cross_button.svg" />
    </ng-template>
  </button>
  <ng-container *ngIf="isDropdownOpen">
    <div class="dropdownContainer">
      <ng-container *ngFor="let content of dropdownList">
        <div [routerLink]="content.url" [queryParams]="content.queryParam" class="dropdown-card" (click)="dropDownOpened()">{{content?.label}}</div>
      </ng-container>
    </div>
  </ng-container>
</div>
