<div class="match-list">
  <div class="match-list-header">
    {{pageTitle}}
  </div>
  <div class="match-list-new-match-button-container">
    <button [routerLink]="'/home/create-new-match'" [queryParams]="{'isNewMatch':true}">{{newMatchLabel}}</button>
  </div>
  <div class="match-list-container">
    <div class="match-list-single-day-container">
      <div class="single-day-date">29th September 2024</div>
      <div class="single-day-matches">
        <div class="match-card" [routerLink]="'/home/match-summary'">
          <div class="card-row1">
            <div class="card-column1">
              <div class="card-column1-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
              <div class="card-column1-row2">TEAM A</div>
              <div class="card-column1-row3">30-4</div>
              <div class="card-column1-row4">(4)</div>
            </div>
            <div class="card-column2">V<span>/</span>S</div>
            <div class="card-column3">
              <div class="card-column3-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
              <div class="card-column3-row2">TEAM A</div>
              <div class="card-column3-row3">30-4</div>
              <div class="card-column3-row4">(4)</div>
            </div>
          </div>
          <div class="card-row2">TEAM B won by 5 wickets</div>
        </div>
        <div class="match-card">
          <div class="card-row1">
            <div class="card-column1">
              <div class="card-column1-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
              <div class="card-column1-row2">TEAM A</div>
              <div class="card-column1-row3">30-4</div>
              <div class="card-column1-row4">(4)</div>
            </div>
            <div class="card-column2">V<span>/</span>S</div>
            <div class="card-column3">
              <div class="card-column3-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
              <div class="card-column3-row2">TEAM A</div>
              <div class="card-column3-row3">30-4</div>
              <div class="card-column3-row4">(4)</div>
            </div>
          </div>
          <div class="card-row2">TEAM B won by 5 wickets</div>
        </div>
        <div class="match-card">
          <div class="card-row1">
            <div class="card-column1">
              <div class="card-column1-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
              <div class="card-column1-row2">TEAM A</div>
              <div class="card-column1-row3">30-4</div>
              <div class="card-column1-row4">(4)</div>
            </div>
            <div class="card-column2">V<span>/</span>S</div>
            <div class="card-column3">
              <div class="card-column3-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
              <div class="card-column3-row2">TEAM A</div>
              <div class="card-column3-row3">30-4</div>
              <div class="card-column3-row4">(4)</div>
            </div>
          </div>
          <div class="card-row2">TEAM B won by 5 wickets</div>
        </div>
        <div class="match-card">
          <div class="card-row1">
            <div class="card-column1">
              <div class="card-column1-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
              <div class="card-column1-row2">TEAM A</div>
              <div class="card-column1-row3">30-4</div>
              <div class="card-column1-row4">(4)</div>
            </div>
            <div class="card-column2">V<span>/</span>S</div>
            <div class="card-column3">
              <div class="card-column3-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
              <div class="card-column3-row2">TEAM A</div>
              <div class="card-column3-row3">30-4</div>
              <div class="card-column3-row4">(4)</div>
            </div>
          </div>
          <div class="card-row2">TEAM B won by 5 wickets</div>
        </div>
        
      </div>
    </div>

    <div class="match-list-single-day-container">
      <div class="single-day-date">13th September 2024</div>
      <div class="single-day-matches">
        <div class="match-card">
          <div class="card-row1">
            <div class="card-column1">
              <div class="card-column1-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
              <div class="card-column1-row2">TEAM A</div>
              <div class="card-column1-row3">30-4</div>
              <div class="card-column1-row4">(4)</div>
            </div>
            <div class="card-column2">V<span>/</span>S</div>
            <div class="card-column3">
              <div class="card-column3-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
              <div class="card-column3-row2">TEAM A</div>
              <div class="card-column3-row3">30-4</div>
              <div class="card-column3-row4">(4)</div>
            </div>
          </div>
          <div class="card-row2">TEAM B won by 5 wickets</div>
        </div>
        <div class="match-card">
          <div class="card-row1">
            <div class="card-column1">
              <div class="card-column1-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
              <div class="card-column1-row2">TEAM A</div>
              <div class="card-column1-row3">30-4</div>
              <div class="card-column1-row4">(4)</div>
            </div>
            <div class="card-column2">V<span>/</span>S</div>
            <div class="card-column3">
              <div class="card-column3-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
              <div class="card-column3-row2">TEAM A</div>
              <div class="card-column3-row3">30-4</div>
              <div class="card-column3-row4">(4)</div>
            </div>
          </div>
          <div class="card-row2">TEAM B won by 5 wickets</div>
        </div>
        <div class="match-card">
          <div class="card-row1">
            <div class="card-column1">
              <div class="card-column1-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
              <div class="card-column1-row2">TEAM A</div>
              <div class="card-column1-row3">30-4</div>
              <div class="card-column1-row4">(4)</div>
            </div>
            <div class="card-column2">V<span>/</span>S</div>
            <div class="card-column3">
              <div class="card-column3-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
              <div class="card-column3-row2">TEAM A</div>
              <div class="card-column3-row3">30-4</div>
              <div class="card-column3-row4">(4)</div>
            </div>
          </div>
          <div class="card-row2">TEAM B won by 5 wickets</div>
        </div>
        <div class="match-card">
          <div class="card-row1">
            <div class="card-column1">
              <div class="card-column1-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
              <div class="card-column1-row2">TEAM A</div>
              <div class="card-column1-row3">30-4</div>
              <div class="card-column1-row4">(4)</div>
            </div>
            <div class="card-column2">V<span>/</span>S</div>
            <div class="card-column3">
              <div class="card-column3-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
              <div class="card-column3-row2">TEAM A</div>
              <div class="card-column3-row3">30-4</div>
              <div class="card-column3-row4">(4)</div>
            </div>
          </div>
          <div class="card-row2">TEAM B won by 5 wickets</div>
        </div>
        
      </div>
    </div>

    <div class="match-list-single-day-container">
      <div class="single-day-date">6th October 2024</div>
      <div class="single-day-matches">
        <div class="match-card">
          <div class="card-row1">
            <div class="card-column1">
              <div class="card-column1-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
              <div class="card-column1-row2">TEAM A</div>
              <div class="card-column1-row3">30-4</div>
              <div class="card-column1-row4">(4)</div>
            </div>
            <div class="card-column2">V<span>/</span>S</div>
            <div class="card-column3">
              <div class="card-column3-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
              <div class="card-column3-row2">TEAM A</div>
              <div class="card-column3-row3">30-4</div>
              <div class="card-column3-row4">(4)</div>
            </div>
          </div>
          <div class="card-row2">TEAM B won by 5 wickets</div>
        </div>
        <div class="match-card">
          <div class="card-row1">
            <div class="card-column1">
              <div class="card-column1-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
              <div class="card-column1-row2">TEAM A</div>
              <div class="card-column1-row3">30-4</div>
              <div class="card-column1-row4">(4)</div>
            </div>
            <div class="card-column2">V<span>/</span>S</div>
            <div class="card-column3">
              <div class="card-column3-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
              <div class="card-column3-row2">TEAM A</div>
              <div class="card-column3-row3">30-4</div>
              <div class="card-column3-row4">(4)</div>
            </div>
          </div>
          <div class="card-row2">TEAM B won by 5 wickets</div>
        </div>
        <div class="match-card">
          <div class="card-row1">
            <div class="card-column1">
              <div class="card-column1-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
              <div class="card-column1-row2">TEAM A</div>
              <div class="card-column1-row3">30-4</div>
              <div class="card-column1-row4">(4)</div>
            </div>
            <div class="card-column2">V<span>/</span>S</div>
            <div class="card-column3">
              <div class="card-column3-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
              <div class="card-column3-row2">TEAM A</div>
              <div class="card-column3-row3">30-4</div>
              <div class="card-column3-row4">(4)</div>
            </div>
          </div>
          <div class="card-row2">TEAM B won by 5 wickets</div>
        </div>
        <div class="match-card">
          <div class="card-row1">
            <div class="card-column1">
              <div class="card-column1-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
              <div class="card-column1-row2">TEAM A</div>
              <div class="card-column1-row3">30-4</div>
              <div class="card-column1-row4">(4)</div>
            </div>
            <div class="card-column2">V<span>/</span>S</div>
            <div class="card-column3">
              <div class="card-column3-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
              <div class="card-column3-row2">TEAM A</div>
              <div class="card-column3-row3">30-4</div>
              <div class="card-column3-row4">(4)</div>
            </div>
          </div>
          <div class="card-row2">TEAM B won by 5 wickets</div>
        </div>
        
      </div>
    </div>
  </div>
</div>