<div class="match-list">
  <div class="match-list-header">
    {{pageTitle}}
  </div>
  <div class="match-list-new-match-button-container">
    <button [routerLink]="'/home/create-new-match'" [queryParams]="{'isNewMatch':true}">{{newMatchLabel}}</button>
  </div>
  <div class="match-list-container">
    <ng-container *ngIf="matchCardList">
      <div class="match-list-single-day-container" *ngFor="let match of matchCardList">
        <div class="single-day-date">{{match.date | date: 'longDate'}}</div>
        <div class="single-day-matches">
          <div class="match-card" *ngFor="let singleMatch of match.match" [routerLink]="'/home/match-summary'" [queryParams]="{'id': singleMatch.id, 'matchCardId': match.id}">
            <div class="card-row1">
              <div class="card-column1">
                <div class="card-column1-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
                <div class="card-column1-row2">{{singleMatch.inning1.battingTeamName}}</div>
                <div class="card-column1-row3">{{singleMatch.inning1.score}}-{{singleMatch.inning1.wicket}}</div>
                <div class="card-column1-row4">({{singleMatch.inning1.over}})</div>
              </div>
              <div class="card-column2">V<span>/</span>S</div>
              <div class="card-column3">
                <div class="card-column3-row1"><img src="../../../../assets/icon/indian-flag.svg"/></div>
                <div class="card-column1-row2">{{singleMatch.inning2.battingTeamName}}</div>
                <div class="card-column1-row3">{{singleMatch.inning2.score}}-{{singleMatch.inning2.wicket}}</div>
                <div class="card-column1-row4">({{singleMatch.inning2.over}})</div>
              </div>
            </div>
            <div class="card-row2">{{singleMatch.lastMessage}}</div>
          </div>        
        </div>
      </div>
    </ng-container>
  </div>
</div>