<div class="add-team-players">
  <div class="add-team-players-header">
    <app-back-button [url]="backUrl"></app-back-button>
    <div class="add-team-players-header-title-container">
      <div class="title">{{teamName}} Players</div>
    </div>
  </div>
  <div class="add-team-players-table">
    <div class="add-team-players-selected-player-list">
      <div class="title">
        <div>Playing XI - [{{this.selectedTeamPlayerList.length}}]</div>
        <div [ngClass]="this.selectedTeamPlayerList.length === 0 ? 'disableClearButton' : ''" (click)="clearSelectedPlayerList()">Clear All</div>
      </div>
      <div class="selected-player-list" *ngIf="selectedTeamPlayerList.length; else emptyState">
        <ng-container *ngFor="let player of selectedTeamPlayerList; let i = index">
          <div class="player-card" (click)="removePlayerFromTeam(player,i)">
            <div class="player-image">
              <img [src]="player?.profileImage ? player?.profileImage :  '../../../../assets/icon/virat-image.png'"/>
            </div>
            <div class="selected-player-card-inner">
              <div class="player-name">
                <div class="first-name">{{player.firstName}}</div>
                <div class="last-name">{{player.lastName}} <span>{{player.jerseyNumber}}</span></div>
              </div>
              <div class="card-white-image">
                <img src="../../../../assets/icon/white-line-frame.svg"/>
              </div>
            </div>
            <div class="captain" *ngIf="i === 0">C</div>
          </div>
        </ng-container>
      </div>
      <ng-template #emptyState>
        <div class="selected-player-list-empty-state">
          No player selected
        </div>
      </ng-template>
    </div>
    <div class="add-team-players-all-players-list">
      <div class="title">All Players</div>
      <div class="all-player-list">
        <ng-container *ngIf="playerList.length; else emptyAllPlayerList">
          <ng-container *ngFor="let player of playerList; let i = index">
            <div class="player-card" (click)="addPlayerInTeam(player)" *ngIf="!player.isSelected">
              <span>{{player.fullName}}</span>
            </div>
          </ng-container>
        </ng-container>
        <ng-template #emptyAllPlayerList>
          <div class="no-player-left">No player left</div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="add-team-players-done-button" [routerLink]="backUrl" (click)="onPlayerSelectionCompleted()">
    Done
  </div>
</div>