<div class="create-match" [formGroup]="match">
  <div class="create-match-header">
    <app-back-button [url]="backUrl"></app-back-button>
    <div class="create-match-header-title-container">
      <div class="title">New Match</div>
    </div>
  </div>
  <div class="create-match-create-teams">
    <div class="title">Add players in each teams</div>
    <div class="create-match-teams-button">
      <button [routerLink]="'/home/add-team-players'" [queryParams]="{'teamName':'SANGHARSH A'}">SANGHARSH A</button>
      <button [routerLink]="'/home/add-team-players'" [queryParams]="{'teamName':'SANGHARSH B'}">SANGHARSH B</button>
    </div>
  </div>
  <div class="create-match-select-overs">
    <div class="title">Select number of overs</div>
    <div class="select-overs-div">
      <button class="decrease-overs" (click)="changeOver(false)">
        <img src="../../../../assets/icon/minus.svg"/>
      </button>
      <button class="display-overs">{{overs?.value}}</button>
      <button class="increase-overs" (click)="changeOver(true)">
        <img src="../../../../assets/icon/plus.svg"/>
      </button>
    </div>
  </div>
  <div class="create-match-confirmation-checkbox">
    <input id="shouldUpdatePlayerData" type="checkbox" [formControl]="shouldUpdatePlayerData"/><label for="shouldUpdatePlayerData">Should update player data</label>
  </div>
  <div class="create-match-confirmation-checkbox" [ngClass]="data.teamAPlayersList.length && data.teamBPlayersList.length && overs?.value ? '' : 'disableCheckBox'">
    <input id="isTeamOverSelected" type="checkbox" [formControl]="isTeamOverSelected"/><label for="isTeamOverSelected">Are teams and number of overs selected</label>
  </div>
  <div class="create-match-select-batting-team" id="toss" *ngIf="isTeamOverSelected.value">
    <span>Select a team which will bat first</span>
    <div class="team1-radio-container"><input id="SANGHARSH A" type="radio" value="SANGHARSH A" name="toss" [formControl]="teamName"/><label for="SANGHARSH A">SANGHARSH A</label></div>
    <div class="team2-radio-container"><input id="SANGHARSH B" type="radio" value="SANGHARSH B" name="toss" [formControl]="teamName"/><label for="SANGHARSH B">SANGHARSH B</label></div>
  </div>
  <div class="create-match-start-match-button" [routerLink]="'/home/update-score'" *ngIf="isTeamOverSelected.value && teamName.value">
    <button>Start New Match</button>
  </div>
</div>