<div class="player-profile" *ngIf="player">
  <div class="player-profile-header">
    <app-back-button [url]="url"></app-back-button>
    <app-dropdown [dropdownList]="dropDownList"></app-dropdown>
    <div class="player-profile-header-container">
      <div class="player-profile-header-container-title">{{pageTitle}}</div>
      <div class="player-profile-header-container-sub-title">[{{player.playerType}}]</div>
    </div>
  </div>
  <div class="player-profile-info">
    <ng-container>
      <div class="player-profile-info-card1">
        <div class="player-profile-info-card1-player-statistics">
          <div class="indian-flag-player-number">
            <img src="../../../../assets/icon/indian-flag.svg"/>
            <span class="player-number">{{player.jerseyNumber}}</span>
          </div>
          <div class="player-name">
            <span class="player-first-name">{{player.firstName}}</span>
            <span class="player-last-name">{{player.lastName}}</span>
          </div>
          <ng-container *ngIf="player.playerType === 'Bowler';else batsmanTitleCard">
            <div class="player-numerical-statistics">
              <div class="left-column">
                <div class="data-block">
                  <span class="title">Match</span>
                  <span class="data">{{player.match}}</span>
                </div>
                <div class="data-block">
                  <span class="title">Overs</span>
                  <span class="data">{{player.bowlingDetails.over}}</span>
                </div>
                <div class="data-block">
                  <span class="title">Wickets</span>
                  <span class="data">{{player.bowlingDetails.wicket}}</span>
                </div>
              </div>
              <div class="right-column">
                <div class="data-block">
                  <span class="title">Economy</span>
                  <span class="data">{{player.bowlingDetails.economy}}</span>
                </div>
                <div class="data-block">
                  <span class="title">Average</span>
                  <span class="data">{{player.bowlingDetails.average}}%</span>
                </div>
                <div class="data-block">
                  <span class="title">runs</span>
                  <span class="data">{{player.bowlingDetails.run}}</span>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #batsmanTitleCard>
            <div class="player-numerical-statistics">
              <div class="left-column">
                <div class="data-block">
                  <span class="title">Match</span>
                  <span class="data">{{player.match}}</span>
                </div>
                <div class="data-block">
                  <span class="title">Runs</span>
                  <span class="data">{{player.battingDetails.run}}</span>
                </div>
                <div class="data-block">
                  <span class="title">6's</span>
                  <span class="data">{{player.battingDetails.six}}</span>
                </div>
              </div>
              <div class="right-column">
                <div class="data-block">
                  <span class="title">S.R</span>
                  <span class="data">{{player.battingDetails.strikeRate}}</span>
                </div>
                <div class="data-block">
                  <span class="title">Average</span>
                  <span class="data">{{player.battingDetails.average}}%</span>
                </div>
                <div class="data-block">
                  <span class="title">4's</span>
                  <span class="data">{{player.battingDetails.four}}</span>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
        <div class="player-profile-info-card1-player-image">
          <img [src]="player?.profileImage ? player?.profileImage :  '../../../../assets/icon/virat-image.png'"/>
        </div>
      </div>
      <ng-container *ngIf="player.playerType === 'Bowler';else batsmanBowlingTitle">
        <div class="player-profile-info-other-title">BATTING & FIELDING STATISTICS</div>
      </ng-container>
      <ng-template #batsmanBowlingTitle>
        <div class="player-profile-info-other-title">BOWLING & FIELDING STATISTICS</div>
      </ng-template>
      <div class="player-profile-info-card2">
        <ng-container *ngIf="player.playerType === 'Bowler';else batsmanSecondaryCard">
          <div class="player-profile-info-card2-statistics">
            <div class="bowling-stats column-1">
              <div class="data-block">
                <span class="title">Matches</span>
                <span class="data">{{player.match}}</span>
              </div>
              <div class="data-block">
                <span class="title">Average</span>
                <span class="data">{{player.battingDetails.average}}%</span>
              </div>
            </div>
            <div class="bowling-stats column-2">
              <div class="data-block">
                <span class="title">Runs</span>
                <span class="data">{{player.battingDetails.run}}</span>
              </div>
              <div class="data-block">
                <span class="title">S.R</span>
                <span class="data">{{player.battingDetails.strikeRate}}</span>
              </div>
            </div>
            <div class="bowling-stats column-3">
              <div class="data-block">
                <span class="title">6,s</span>
                <span class="data">{{player.battingDetails.six}}</span>
              </div>
            </div>
            <div class="bowling-stats column-4">
              <div class="data-block">
                <span class="title">4's</span>
                <span class="data">{{player.battingDetails.four}}</span>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #batsmanSecondaryCard>
          <div class="player-profile-info-card2-statistics">
            <div class="bowling-stats column-1">
              <div class="data-block">
                <span class="title">Overs</span>
                <span class="data">{{player.bowlingDetails.over}}</span>
              </div>
              <div class="data-block">
                <span class="title">Most Wkts</span>
                <span class="data">0</span>
              </div>
            </div>
            <div class="bowling-stats column-2">
              <div class="data-block">
                <span class="title">Wickets</span>
                <span class="data">{{player.bowlingDetails.wicket}}</span>
              </div>
              <div class="data-block">
                <span class="title">Economy</span>
                <span class="data">{{player.bowlingDetails.economy}}</span>
              </div>
            </div>
            <div class="bowling-stats column-3">
              <div class="data-block">
                <span class="title">Runs</span>
                <span class="data">{{player.bowlingDetails.run}}</span>
              </div>
            </div>
            <div class="bowling-stats column-4">
              <div class="data-block">
                <span class="title">Average</span>
                <span class="data">{{player.bowlingDetails?.average}}%</span>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="player-profile-info-card3">
        <div class="player-profile-info-card3-title">FIELDING STATISTICS</div>
        <div class="player-profile-info-card3-statistics">
          <div class="bowling-stats column-1">
            <div class="data-block">
              <span class="title">Catches</span>
              <span class="data">{{player.fieldingDetails.catch}}</span>
            </div>
          </div>
          <div class="bowling-stats column-2">
            <div class="data-block">
              <span class="title">Taken</span>
              <span class="data">{{player.fieldingDetails.catchTaken}}</span>
            </div>
          </div>
          <div class="bowling-stats column-3">
            <div class="data-block">
              <span class="title">Dropped</span>
              <span class="data">{{player.fieldingDetails.catchDroped}}</span>
            </div>
          </div>
          <div class="bowling-stats column-4">
            <div class="data-block">
              <span class="title">Avg</span>
              <span class="data">{{player.fieldingDetails.fieldingAvg}}%</span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="delete-player-modal-page" *ngIf="showDeletePlayerModal">
    <div class="delete-player-modal">
      <div class="modal-header">
        <div class="title">Delete player</div>
        <div class="close-button" [routerLink]="'/home/player-profile'" [queryParams]="{id: this.playerId,showDeletePlayerModal: null, shouldCallGetApi: false}">
          <img src="../../../../assets/icon/cross_button.svg" />
        </div>
      </div>
      <div class="modal-body">
        <div class="batsman-list">
          Are you sure to delete this player ?
        </div>
      </div>
      <div class="modal-footer">
        <button class="cancel-button" [routerLink]="'/home/player-profile'" [queryParams]="{id: this.playerId,showDeletePlayerModal: null, shouldCallGetApi: false}">Cancel</button>
        <button class="save-button" [routerLink]="'/home/player-profile'" [queryParams]="{id: this.playerId,showDeletePlayerModal: null, shouldCallGetApi: false}" (click)="deletePlayer()">Yes</button>
      </div>
    </div>
  </div>

  <div class="delete-player-modal-page" *ngIf="showResetPlayerModal">
    <div class="delete-player-modal">
      <div class="modal-header">
        <div class="title">Reset player</div>
        <div class="close-button" [routerLink]="'/home/player-profile'" [queryParams]="{id: this.playerId,showResetPlayerModal: null, shouldCallGetApi: false}">
          <img src="../../../../assets/icon/cross_button.svg" />
        </div>
      </div>
      <div class="modal-body">
        <div class="batsman-list">
          Are you sure to reset this player ?
        </div>
      </div>
      <div class="modal-footer">
        <button class="cancel-button" [routerLink]="'/home/player-profile'" [queryParams]="{id: this.playerId,showResetPlayerModal: null, shouldCallGetApi: false}">Cancel</button>
        <button class="save-button" [routerLink]="'/home/player-profile'" [queryParams]="{id: this.playerId,showResetPlayerModal: null, shouldCallGetApi: false}" (click)="resetPlayer()">Yes</button>
      </div>
    </div>
  </div>
</div>
