@import '../../../../assets/scss/variables';

.player-profile {
    width: 100%;
    height: 100%;
    padding: 8% 4%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
    &-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        app-back-button {
            position: absolute;
            left: 16px;
        }
        &-container {
            width: 100%;
            text-align: center;
            &-title {
                font-size: 18px;
                font-weight: 600;
            }
            &-sub-title {
                font-size: 12px;
            }
        }
    }

    &-info {
        width: 100%;
        margin-top: 10%;
        box-sizing: border-box;
        &-card1 {
            width: 100%;
            display: flex;
            border-radius: 12px;
            background: $white-card;
            border: 1px solid $white;
            &-player-statistics {
                width: 50%;
                padding: 4% 6%;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .indian-flag-player-number {
                    display: flex;
                    align-items: center;
                    img {
                        width: 20%;
                    }
                    .player-number {
                        font-weight: 800;
                        font-size: 18px;
                        color: $pink;
                        margin-left: 10%;
                        box-sizing: border-box;
                    }
                }
                .player-name {
                    display: flex;
                    flex-direction: column;
                    margin-top: 5%;
                    .player-first-name {
                        font-size: 12px;
                        font-weight: 400;
                    }
                    .player-last-name {
                        font-size: 22px;
                        font-weight: 600;
                    }
                }
                .player-category {
                    font-size: 10px;
                    margin-top: 3%;
                    box-sizing: border-box;
                }
                .player-numerical-statistics {
                    display: flex;
                    margin-top: 8%;
                    box-sizing: border-box;
                    .left-column, .right-column {
                        width: 55%;
                        .data-block{
                            display: flex;
                            flex-direction: column;
                            margin-top: 15%;
                            box-sizing: border-box;
                            .title {
                                font-size: 10px;
                                font-weight: 600;
                            }
                            .data {
                                color: $pink;
                                font-size: 18px;
                                font-weight: 800;
                                margin-top: 5%;
                                box-sizing: border-box;
                            }
                        }
                    }
                    .left-column {
                        width: 45%;
                    }
                    .right-column {
                        padding-left: 12%;
                        box-sizing: border-box;
                        border-left: 1px solid $white;
                    }
                }
            }
            &-player-image {
                width: 50%;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
        &-other-title {
            font-size: 12px;
            margin: 5% 0%;
        }
        &-card3 {
            margin-top: 5%;
        }
        &-card2, &-card3 {
            width: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 12px;
            background: $light-white-card;
            border: 1px solid $white;
            padding: 6% 6%;
            box-sizing: border-box;
            &-title {
                font-size: 10px;
            }
            &-statistics {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                margin-top: 5%;
                box-sizing: border-box;
                .bowling-stats {
                    width: 25%;
                }
                .column-1, .column-2, .column-3, .column-4 {
                    .data-block{
                        display: flex;
                        flex-direction: column;
                        margin-top: 20%;
                        box-sizing: border-box;
                        .title {
                            font-size: 10px;
                            font-weight: 600;
                        }
                        .data {
                            color: $pink;
                            font-size: 18px;
                            font-weight: 800;
                            margin-top: 5%;
                            box-sizing: border-box;
                        }
                    }
                }
                .column-1 {
                    width: 20%
                }
                .column-2, .column-3, .column-4 {
                    padding-left: 5%;
                    box-sizing: border-box;
                    border-left: 1px solid $white;
                }
            }
        }
    }
}
