@import '../../../../assets/scss/variables';

.player-profile {
    width: 100%;
    height: 100%;
    padding: 8% 4%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../../../../assets/icon/player-profile-bg.png'), url('../../../../assets/icon/player-profile-bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    position: relative;
    &-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        app-back-button {
            position: absolute;
            left: 16px;
        }
        app-dropdown {
            position: absolute;
            right: 16px;
            z-index: 3;
        }
        &-container {
            width: 100%;
            text-align: center;
            &-title {
                font-size: 18px;
                font-weight: 600;
            }
            &-sub-title {
                font-size: 12px;
            }
        }
    }

    &-info {
        width: 100%;
        margin-top: 10%;
        box-sizing: border-box;
        &-card1 {
            width: 100%;
            display: flex;
            border-radius: 12px;
            background: $white-card;
            border: 1px solid $white;
            &-player-statistics {
                width: 50%;
                padding: 4% 6%;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .indian-flag-player-number {
                    display: flex;
                    align-items: center;
                    img {
                        width: 20%;
                    }
                    .player-number {
                        font-weight: 800;
                        font-size: 18px;
                        color: $pink;
                        margin-left: 10%;
                        box-sizing: border-box;
                    }
                }
                .player-name {
                    display: flex;
                    flex-direction: column;
                    margin-top: 5%;
                    .player-first-name {
                        font-size: 12px;
                        font-weight: 400;
                    }
                    .player-last-name {
                        font-size: 22px;
                        font-weight: 600;
                    }
                }
                .player-category {
                    font-size: 10px;
                    margin-top: 3%;
                    box-sizing: border-box;
                }
                .player-numerical-statistics {
                    display: flex;
                    margin-top: 8%;
                    box-sizing: border-box;
                    .left-column, .right-column {
                        width: 55%;
                        .data-block{
                            display: flex;
                            flex-direction: column;
                            margin-top: 15%;
                            box-sizing: border-box;
                            .title {
                                font-size: 10px;
                                font-weight: 600;
                            }
                            .data {
                                color: $pink;
                                font-size: 18px;
                                font-weight: 800;
                                margin-top: 5%;
                                box-sizing: border-box;
                            }
                        }
                    }
                    .left-column {
                        width: 45%;
                    }
                    .right-column {
                        padding-left: 12%;
                        box-sizing: border-box;
                        border-left: 1px solid $white;
                    }
                }
            }
            &-player-image {
                width: 50%;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
        &-other-title {
            font-size: 12px;
            margin: 5% 0%;
        }
        &-card3 {
            margin-top: 5%;
        }
        &-card2, &-card3 {
            width: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 12px;
            background: $light-white-card;
            border: 1px solid $white;
            padding: 6% 6%;
            box-sizing: border-box;
            &-title {
                font-size: 10px;
            }
            &-statistics {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                // margin-top: 5%;
                box-sizing: border-box;
                .bowling-stats {
                    width: 25%;
                }
                .column-1, .column-2, .column-3, .column-4 {
                    .data-block{
                        display: flex;
                        flex-direction: column;
                        margin-top: 20%;
                        box-sizing: border-box;
                        .title {
                            font-size: 10px;
                            font-weight: 600;
                        }
                        .data {
                            color: $pink;
                            font-size: 18px;
                            font-weight: 800;
                            margin-top: 5%;
                            box-sizing: border-box;
                        }
                    }
                }
                .column-1 {
                    width: 20%
                }
                .column-2, .column-3, .column-4 {
                    padding-left: 5%;
                    box-sizing: border-box;
                    border-left: 1px solid $white;
                }
            }
        }
    }
    .delete-player-modal-page {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2px);
        z-index: 3;
        padding: 0 4%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        .delete-player-modal {
            width: 100%;
            background: $white;
            padding: 6%;
            box-sizing: border-box;
            border-radius: 10px;
            .modal-header {
                width: 100%;
                position: relative;
                display: flex;
                justify-content: space-between;
                margin-bottom: 5%;
                box-sizing: border-box;
                .title {
                    font-size: 16px;
                    font-weight: 700;
                }
                .cross-button {
                }
            }
            .modal-body {
                width: 100%;
                overflow-y: scroll;
                .title {
                    font-size: 16px;
                    font-weight: 700;
                    margin: 5% 0%;
                }
                .batsman-list {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                }
            }
            .modal-footer {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 6%;
                box-sizing: border-box;
                .cancel-button, .save-button {
                    width: 40%;
                    height: 40px;
                    font-size: 12px;
                    font-weight: 600;
                    color: $white;
                    background: $text-color;
                    border: 1px solid $text-color;
                    border-radius: 5px;
                }
                .cancel-button {
                    color: $text-color;
                    background: $white;
                    border: 1px solid $text-color;
                }
            }
        }
    }
}
